.bill{
    height: 80vh;
}
.totalBox{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}
.totalBoxItem{
    width: 30%;
    height: auto;
}
.totalBoxItemLeft{
    width: 35%;
}
.totalBoxItemCount{
    font-weight: bold;
    font-size: 1rem;
    background-color: #f6f6f6;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
}
.totalBoxItemTitle{
    text-align: center;
    margin-top: 0.6rem;
}
.totalBoxItemRight{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.billBox{
    height: 60vh;
    overflow-y: auto;
}