.navlink {
    text-decoration: none;
    color: #323232;
}
.linkItem {
    padding: 15px 0;
    border-radius: 0px 5px 5px 0px;
    margin: 5px 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.709);
    font-weight: normal;
}
.linkItem:hover .navlink{
    transition: all 0.2s linear;
    color: aliceblue;
}
/* .logout{
    margin-top: 6rem;
    cursor: pointer;
} */
.linkItemActive {
    font-weight: bold;
    color: #393939;
    transition: all 0.3s linear;
    background-color: #fff;
    padding: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-left: 5px solid #393939;
}

.linkItem p{
    padding-left: 1.5rem;
}
.logout{
    display: flex;
    flex-direction: column;
    padding: 35px;
}
.logOutIcon{
    margin: 0 auto;
}
.logOutText{
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    color: #848484;
}
.linkItemIcon{
    padding-left: 2rem;
    cursor: pointer;
}