.navlink {
    text-decoration: none;
    color: #323232;
}
.linkItem {
    padding: 15px 0;
    border-radius: 0px 5px 5px 0px;
    margin: 15px 0;
    font-weight: 500;
}
.linkItem:hover .navlink{
    transition: all 0.2s linear;
    color: aliceblue;
}
.linkList{
    margin: 3rem 0;
    text-align: center;
}

.logout{
    margin-top: 6rem;
    cursor: pointer;
}
.linkItemActive {
    font-weight: bold;
    color: #fff;
    transition: all 0.3s linear;
    background-color: #424242;
    padding: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}