.categoryLabel{
    padding: 8px 16px;
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    min-width: fit-content;
    color: #848484;
    font-weight: bold;
}
.categoryBox{
    padding: 5px 15px 15px 15px;
    overflow-x: auto;
    display: flex;
    word-wrap: normal;
}

.active {
    background: linear-gradient(90deg, #3dd49d 0%, #3dd479 100%);
    color: white;
    transition: 0.3s all linear;
}
.wrapTopBox{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 300;
    background-color: #f6f6f6f0;
    padding-bottom: 15px;
}
.paymentTrue{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    background-color: #fff;
    z-index: 300;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 1rem;
}
.paymentTrue p{
    margin-bottom: 1rem;
}
.paymentTrueButton{
    font-weight: bold;
}
.categoryTitle{
    padding: 15px 15px 0 15px;
    font-weight: bold;
    color: #272727;
    font-size: 18px;
}
.categoryBox::-webkit-scrollbar{
    display: none;
}