.historyBox{
    position: fixed;
    width: 70%;
    height: calc(100vh - 5rem);
    top: 0;
    left: 0;
    z-index: 500;
}
.historyBoxOpacity {
    position: absolute;
    background-color: #fff;
    z-index: 501;
    opacity: 0.95;
    width: 100%;
    height: 100%;
}
.historyBoxContent{
    position: absolute;
    z-index: 502;
    color: #000;
    padding: 1rem;
}