.searchBox{
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchBoxInput{
    width: auto;
    padding: 0.7rem 1.4rem;
    border: none;
    border-radius: 14px;
    color: #393939;
    background-color: #f6f6f6;
}
.searchBoxInput:focus{
    outline: none;
}
.searchBoxInput:hover{
    transition: all 0.3s linear;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.searchBoxInput::placeholder{
    color: #878787;
}
.historyOpenIcon{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    padding: 0px 10px 0px 10px;
    background: linear-gradient(90deg, #3dd49d 0%, #3dd479 100%);
    color: white;
}
.historyOpenIcon p{
    font-weight: bold;
    font-size: 13px;
    margin-right: 5px;
}