.qrcodePrintTitle{
    font-weight: bold;
}
.handleThis{
    padding: 1rem;
}
.rowTableSize{
    width: 100%;
}
.confirmButton{
    background-color: #4CAF50;
    color: #fff !important;
}
.printContent{
    padding: 0.5rem;
}