.foodEditButton{
    width: auto;
    border: none;
    background-color: #272727;
    color: white;
    padding: 1.8rem 0.4rem;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
}